@using MVCMusicStore2019.ViewModels.MusicStores
@model ShoppingCartViewModel
@using MVCMusicStore2019.Models.MusicStores
@*@model ShoppingCartItem*@
<div class="panel-heading">
    @ViewBag.Title
</div>
<table class="table table-striped">
    <tr>
        <th>专辑</th>
        <th>价格</th>
        <th>数量</th>
        <th>金额</th>
        <th></th>
    </tr>
    @if (this.Model.Items.Count() == 0||Model.Items==null)
    {
        <tr><td colspan="3" class="text-center">没有用户数据列表</td></tr>
    }
    else
    {
        foreach (ShoppingCartItem item in this.Model.Items)
        {
            <tr>
                <td>
                    @Html.RouteLink(@item.AlbumName," "," ", new { id = @item.Id, price = item.Price })
                </td>
                <td>
                    ￥@item.Price.ToString("#0.00")
                </td>
                <td>
                    ￥@item.SubTotalPrice.ToString("#0.00")
                </td>
                <td></td>
            </tr>
        }
        <tr>
            <td colspan="3"></td>
            <td><b>总价：￥@this.Model.TotalPrice.ToString("#0.00")</b></td>
            <td></td>
        </tr>
    }
</table>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/MusicStores/ShoppingCart.js"></script>
@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>购物车</title>
        <link rel="stylesheet" href="/Content/ShoppingCart.css" />
        <script type="text/javascript" src="/Scripts/MusicStores/ShoppingCart.js"></script>
    </head>
    <body>
        <h2>专辑管理</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                系统用户列表
            </div>
            <table id="cartTable">
                <thead>
                    <tr>
                        <th><label><input class="check-all check" type="checkbox" />&nbsp;全选</label></th>
                        <th>商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="checkbox"><input class="check-one check" type="checkbox" /></td>
                        <td class="goods"><img src="images/1.jpg" alt="" /><span>Casio/卡西欧 EX-TR350</span></td>
                        <td class="price">5999.88</td>
                        <td class="count">
                            <span class="reduce"></span>
                            <input class="count-input" type="text" value="1" />
                            <span class="add">+</span>
                        </td>
                        <td class="subtotal">5999.88</td>
                        <td class="operation"><span class="delete">删除</span></td>
                    </tr>
                    <tr>
                        <td class="checkbox"><input class="check-one check" type="checkbox" /></td>
                        <td class="goods"><img src="images/2.jpg" alt="" /><span>Canon/佳能 PowerShot SX50 HS</span></td>
                        <td class="price">3888.50</td>
                        <td class="count"><span class="reduce"></span><input class="count-input" type="text" value="1" /><span class="add">+</span></td>
                        <td class="subtotal">3888.50</td>
                        <td class="operation"><span class="delete">删除</span></td>
                    </tr>
                    <tr>
                        <td class="checkbox"><input class="check-one check" type="checkbox" /></td>
                        <td class="goods"><img src="images/3.jpg" alt="" /><span>Sony/索尼 DSC-WX300</span></td>
                        <td class="price">1428.50</td>
                        <td class="count"><span class="reduce"></span><input class="count-input" type="text" value="1" /><span class="add">+</span></td>
                        <td class="subtotal">1428.50</td>
                        <td class="operation"><span class="delete">删除</span></td>
                    </tr>
                    <tr>
                        <td class="checkbox"><input class="check-one check" type="checkbox" /></td>
                        <td class="goods"><img src="images/4.jpg" alt="" /><span>Fujifilm/富士 instax mini 25</span></td>
                        <td class="price">640.60</td>
                        <td class="count"><span class="reduce"></span><input class="count-input" type="text" value="1" /><span class="add">+</span></td>
                        <td class="subtotal">640.60</td>
                        <td class="operation"><span class="delete">删除</span></td>
                    </tr>
                </tbody>
            </table>

            <div class="foot" id="foot">
                <label class="fl select-all"><input type="checkbox" class="check-all check" />&nbsp;全选</label>
                <a class="fl delete" id="deleteAll" href="javascript:;">删除</a>
                <div class="fr closing">结 算</div>
                <div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
                <div class="fr selected" id="selected">
                    已选商品
                    <span id="selectedTotal">0</span>件
                    <span class="arrow up">︽</span>
                    <span class="arrow down">︾</span>
                </div>
                <div class="selected-view">
                    <div id="selectedViewList" class="clearfix">
                        <!--<div><img src="images/1.jpg"><span>取消选择</span></div>-->
                    </div>
                    <span class="arrow">◆<span>◆</span></span>
                </div>
            </div>
            </div>
    </body>
    </html>*@

    @*<table class="table table-condensed table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.UserId)</th>
            <th>@Html.DisplayNameFor(model => model.TotalQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.TotalPrice)</th>
        </tr>
        @using (Ajax.BeginForm("Index", new AjaxOptions()))
        {
            if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="10" style="text-align:center;">当前列表无数据</td>
                </tr>
            }
            else
            {

                foreach (var item in Model)
                {
                    <tr>
                        @Html.HiddenFor(Item => item.Id)
                        <td>@item.UserId</td>
                        <td>@item.TotalQuantity</td>
                        <td>@item.TotalPrice</td>
                     <td>
                            @Html.ActionLink("编辑", "CreatOrEdit", new { id = item.Id },
             new { @class = "btn btn-primary btn-xs" }
             )
                            @Html.ActionLink("删除", "Delete", new { id = item.Id },
             new { @class = "btn btn-danger btn-xs" }
             )
                        </td>
                    </tr>
                }
            }
        }
    </table>
    @Html.ActionLink("新增", "CreatOrEdit", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("取消", "Index", null, new { @class = "btn btn-default" })
</div>*@
