@using MVCMusicStore2019.ViewModels.MusicStores
@model ShoppingCartViewModel
@using MVCMusicStore2019.Models.MusicStores

@*@model ShoppingCartItem*@
<div class="panel-heading">
    @ViewBag.Title
    <link rel="stylesheet" href="~/Content/ShoppingCart.css" />
</div>
<table class="table table-striped">
    <tr>
        <th><label><input class="check-all check" type="checkbox" />&nbsp;全选</label></th>
        <th>专辑</th>
        <th>封面链接</th>
        <th>价格</th>
        <th>数量</th>
        <th>金额</th>
        <th>操作</th>
    </tr>
    @if (this.Model.Items.Count() == 0||Model.Items==null)
    {
        <tr><td colspan="3" class="text-center">没有用户数据列表</td></tr>
    }
    else
    {
        foreach (ShoppingCartItem item in this.Model.Items)
        {
            <tr>
                <td class="checkbox"><input class="check-one check" type="checkbox" /></td>
                <td>
                   @Html.ActionLink(@item.AlbumName,"Detail", "MusicIndex",new { id = @item.Id, price = item.Price })
                </td>
                <td><img src="@Url.Content("/Models/Pics/")" class="poster"style="width:65px" /></td>
                <td>
                    ￥@item.Price.ToString("#0.00")
                </td>
                @*<td>@item.Quantity</td>*@
                <td class="count">
                    <span class="reduce"></span>
                    <input class="count-input" type="text" value="1" />
                    <span class="add">+</span>
                </td>
                <td>
                    ￥@item.SubTotalPrice.ToString("#0.00")
                </td>
                <td>@Html.ActionLink("删除", "Delete", new { id = item.Id },
             new { @class = "btn btn-danger btn-xs" }
             )</td>
            </tr>
        }
        @*<tr>
            <td colspan="3"></td>
            <td><b>总价：￥@this.Model.TotalPrice.ToString("#0.00")</b></td>
            <td>

            </td>
        </tr>*@

  
    }
</table>
<div class="foot" id="foot">
    <label class="fl select-all"><input type="checkbox" class="check-all check" />&nbsp;全选</label>
    <a class="fl delete" id="deleteAll" href="javascript:;">删除</a>
    <div class="fr closing">结 算</div>
    <div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
    <div class="fr selected" id="selected">
        已选商品
        <span id="selectedTotal">0</span>件
        <span class="arrow up">︽</span>
        <span class="arrow down">︾</span>
    </div>
    <div class="selected-view">
        <div id="selectedViewList" class="clearfix">
            <!--<div><img src="images/1.jpg"><span>取消选择</span></div>-->
        </div>
        <span class="arrow">◆<span>◆</span></span>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/MusicStores/ShoppingCart.js"></script>