@using MVCMusicStore2019.ViewModels.MusicStores
@model ShoppingCartViewModel
@using MVCMusicStore2019.Models.MusicStores

@*@model ShoppingCartItem*@
<div class="panel-heading">
    @ViewBag.Title
</div>
<table class="table table-striped">
    <tr>
        <th>专辑</th>
        <th>封面链接</th>
        <th>价格</th>
        <th>数量</th>
        <th>金额</th>
        <th></th>
    </tr>
    @if (this.Model.Items.Count() == 0||Model.Items==null)
    {
        <tr><td colspan="3" class="text-center">没有用户数据列表</td></tr>
    }
    else
    {
        foreach (ShoppingCartItem item in this.Model.Items)
        {
            <tr>
                <td>
                   @Html.ActionLink(@item.AlbumName,"Detail", "MusicIndex",new { id = @item.Id, price = item.Price })
                </td>
                <td><img src="@Url.Content("/Models/Pics/")" class="poster"style="width:65px" /></td>
                <td>
                    ￥@item.Price.ToString("#0.00")
                </td>
                <td>@item.Quantity</td>
                <td>
                    ￥@item.SubTotalPrice.ToString("#0.00")
                </td>
                <td></td>
            </tr>
        }
        <tr>
            <td colspan="3"></td>
            <td><b>总价：￥@this.Model.TotalPrice.ToString("#0.00")</b></td>
            <td></td>
        </tr>
    }
</table>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/MusicStores/ShoppingCart.js"></script>