@using MVCMusicStore2019.ViewModels.MusicStores
@model IEnumerable<ArtistDisplayViewModel>
<h2>歌手</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        系统用户列表
    </div>
    <table class="table table-condensed table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
        </tr>
        @using (Ajax.BeginForm("Index", new AjaxOptions()))
        {
            if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="text-align:center;">当前列表无数据</td>
                </tr>
            }
            else
            {

                foreach (var item in Model)
                {
                    <tr>
                        @Html.HiddenFor(Item => item.Id)
                        <td>@item.OrderNumber</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            @Html.ActionLink("编辑", "CreatOrEdit", new { id = item.Id },
             new { @class = "btn btn-primary btn-xs" }
             )
                            @Html.ActionLink("删除", "Delete", new { id = item.Id },
             new { @class = "btn btn-danger btn-xs" }
             )
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>
@Html.ActionLink("新建", "CreatOrEdit", null, new { @class = "btn btn-primary" })
@Html.ActionLink("取消", "Index", "Home", null, new { @class = "btn btn-default" })
@Html.ActionLink("角色管理", "Index", "AdminRole", null, new { @class = "btn btn-primary" })
