<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("音乐商店", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                    <li id="SystemManager" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>

                                @Html.ActionLink("专辑管理", "Index", "Album")
                            </li>
                    <li> @Html.ActionLink("音乐类型管理", "Index", "AlbumType")</li>
                    <li> @Html.ActionLink("歌手管理", "Index", "Artist")</li>
                    <li> @Html.ActionLink("流派管理", "Index", "Genre")</li>
                    <li>@Html.ActionLink("专辑列表", "Index", "MusicIndex")</li>
                    <li role="separator" class="divider"></li>
                    <li>   @Html.ActionLink("角色管理", "Index", "AdminRole")</li>
                    <li> @Html.ActionLink("用户管理", "Index", "AdminUser")
                    </li>
                </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <a id="scrollUp" @*trace="toolBarTohead"*@ href="javascript:void(0)" style="position:fixed;z-index:3;bottom:40px;top:auto;right:40px;">
        <i class="glyphicon glyphicon-arrow-up"></i>
    </a>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p><strong>&copy;版权所有</strong>柳州职业技术学院</p>
            <p>
                <abbr title="学校办公室电话">学校办公室电话：</abbr>0772-3156001
                <abbr title="招生处电话">招生处电话：</abbr>0772-3156666
            </p>
            <p>
                <strong>桂ICP备</strong>111003764 号 桂 JS200701-13
                <span><img src="~/Content/icons/jinghui.png" /></span><strong>桂公网安备</strong>45020302000070号
            </p>
            <p><span><img src="~/Content/icons/zaixianjubao.png" /></span></p>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序：MVC Music Store(音乐商店)</p>

        </footer>
    </div>
    @*天气预报API内容*@ 
    <div class="hidden-xs hidden-sm" id="myWeather">
        @Html.Partial("_WeatherAPI")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @RenderSection("scripts", required: false)

    <script>
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            console.log(121);
            //当屏幕滚动>20px显示返回顶部按钮，反之隐藏
            if(document.body.scrollTop>20||document.documentElement.scrollTop>20)
            {
                document.getElementById("goTop").style.display = "block";
            }
            else {
                document.getElementById("goTop").style.display = "none";
            }
        }
        //点击按钮，返回顶部
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        $('#SystemManager').ready(function () {
            //alert("进入用户权限JS");
            $.ajax({
                type: 'POST',
                url: "/Home/UserRole",
                success: function (data) {
                    if (!data) {
                        $('#SystemManager').hide();
                    }
                    else {
                        $('#SystemManager').show();
                    }
                }
            })
        });
    </script>
</body>
</html>
