@model MVCMusicStore2019.ViewModels.MusicStores.AlbumViewModel
@{
    ViewBag.Title = "系统管理员页面";
}
<h3>@ViewBag.Title</h3>
<div>
    <input type="hidden" id="CurrentGenreSelectedId" value="@Model.GenreId"/>
    <input type="hidden" id="CurrentAlbumTypeSelectedId" value="@Model.AlbumTypeId" />
    <input type="hidden" id="CurrentArtistSelectedId" value="@Model.ArtistId" />
</div>
@Html.ValidationSummary(false,"",new {@class="text-danger" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.HiddenFor(x => x.Id)
        @Html.LabelFor(x => x.Name, new { @class = "col-md-2 control-label" })
        @Html.TextAreaFor(x => x.Name, new { @class = "form-control" })
    </div>
                            <div>
                                @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                            </div>
                            <div>
                                @Html.LabelFor(x=>x.GenreName,new { @class = "col-md-2 control-label" })
                                <div id="GenreSelectList">@*在此通过Ajax定义*@</div>
                            </div>
                            <div>
                                @Html.LabelFor(x => x.ArtistName, new { @class = "col-md-2 control-label" })
                                <div id="ArtistSelectList">@*在此通过Ajax定义*@</div>
                            </div>
                            <div>
                                @Html.LabelFor(x => x.AlbumTypeName, new { @class = "col-md-2 control-label" })
                                <div id="AlbumTypeSelectList">@*在此通过Ajax定义*@</div>
                            </div>
                          
    <div>
        @Html.LabelFor(x => x.IssueTime, new { @class = "col-md-2 control-label" })
        @Html.TextAreaFor(x => x.IssueTime, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(x => x.IssueUser, new { @class = "col-md-2 control-label" })
        @Html.TextAreaFor(x => x.IssueUser, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(x => x.LanguageClassification, new { @class = "col-md-2 control-label" })
        @Html.TextAreaFor(x => x.LanguageClassification, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(x => x.Price, new { @class = "col-md-2 control-label" })
        @Html.TextAreaFor(x => x.Price, new { @class = "form-control" })
    </div>
    //图片上传实现
    <div>
        @Html.LabelFor(x => x.UrlString, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(x => x.UrlString, new { @class = "form-control" })
        <div id="FormContent">
            <div id="FormUpload" enctype="multipart/form-data" method="post">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus">
                    </i>
                    <span>添加图片</span>
                    <input type="file"name="UploadedFile" id="UploadedFile" onchange="singleFileSelected()"/>
                </span>
                <button class="btn btn-primary start" type="button" id="Submit_btn" onclick="upFileImg()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>图片保存</span>
                </button>
            </div>
            @*进度条*@
            <div class="progress CustomProgress">
                <div id="FileProgess" class="progress progress-bar" role="progressbar"></div>
            </div>
            <div class="InfoContainer">
                <div id="Imagecontainer"></div>
                @*追加JS生成的img前端语句*@
                <div id="FileName" class="info"></div>
                <div id="FileSize" class="info"></div>
                <div id="FileType" class="info"></div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">@ViewBag.Operation</button>
    @Html.ActionLink("取消", "Index", null, new { @class = "btn btn-default" })
}
@Scripts.Render("~/bundles/jqueryuploadfile")
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/MusicStores/Album.js"></script>